*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 35px 12%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered,
                 0 0 50px orangered;
    transform: scale(1.1);             
}
span{
    color: orangered;
}
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover{
    color: orangered;
    border-bottom: 3px solid orangered;
}

/* contact section */
.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
}

/* Home Section */
.home{
    width: 100%;
    min-height: 100vh;
    background: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-size: 42px;
    margin-top: 3em;
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.home .skills h2{
    font-size: 36px;
    margin-bottom: 1em;
}
.home .skills{
    display: flex;
    flex-direction: column;
    gap: 0.1em;
}
.home .skills .progress{
    position: relative;
    width: 100%;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 180px;
}
.home .progress .python{
    width: 50%;
    height: 100%;
    background-color: orangered;
    border-radius: 8px;
    margin-bottom: 20px;
}
.home .progress .js{
    width: 50%;
    height: 100%;
    background-color: orangered;
    border-radius: 8px;
    margin-bottom: 20px;
}
.home .progress .css{
    width: 70%;
    height: 100%;
    background-color: orangered;
    border-radius: 8px;
    margin-bottom: 20px;
}
.home .progress .html{
    width: 90%;
    height: 100%;
    background-color: orangered;
    border-radius: 8px;
    margin-bottom: 10px;
}

.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}
.btn-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-1:hover{
    background-color: orangered;
    color: black;
    border: 2px solid black;
}
.img-box img{
    border-radius: 40%;
    width: 250px;
}

/* Scrollbar Customization */
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: orangered;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.60);
    width: 50px;
}

/* About Section */
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: black;
}
.about-img img{
    position: relative;
    width: 250px;
    box-shadow: 0 0 25px orangered,
                0 0 50px orangered;
    border-radius: 40%;            
}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 42px;
}
.about-content h3{
    font-size: 62px;
    color: white;
}
.about-content p{
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
}

/* Education Section */
.education .section-title{
    text-align: center;
    font-size: 36px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: black;
}
.education{
    text-align: center;
    padding: 12% 8%;
    background: rgb(241, 241, 241);
    font-size: 40px;
}
.education-content{
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.6;
    color: black;
}
.education .btn{
    display: inline-block;
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.education .btn:hover{
    background-color: orangered;
    color: black;
    border: 2px solid black;
}

/* Interests Section */
.interests{
    padding: 12% 8%;
    background: black;
    color: white;
}
.interests p{
    max-width: 800px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.6;
    color: white;
}
.interests h2{
    text-align: center;
    font-size: 36px;
    margin-bottom: 1em;
}
.interests .section-title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 1em;
}
 
/* Projects Section */
.projects{
    padding: 12% 8%;
    background: rgb(241, 241, 241);
}
.project-section-title{
    text-align: center;
    font-size: 36px;
    margin-bottom: 1em;
}
.project-section-title span{
    color: orangered;
}
.project-h2{
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    line-height: 1.6;
    color: black;
    margin-left: 0;
    font-weight: 530;
}

/* Contact form */
.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}
.contact-form form{
    max-width: 40em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form form .input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-form form .input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1.5em;
    font-size: 18px;
    color: black;
    background: rgb(241, 241, 241);
    border-radius: .8rem;
    margin: 1rem 0;
    resize: none;
}

/* Footer Section */
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: black;
}
.footer .socials{
    text-align: center;
    padding-bottom: 25px;
    color: white;
}
.footer .socials a{
    font-size: 24px;
    color: white;
    border: 2px solid orangered;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px orangered, 0 0 10px orangered;
    transition: 0.3s ease;
}
.footer .socials a:hover{
    transform: scale(1.2)translateY(-10px);
    color: orangered;
    border: 2px solid orangered;
}
.footer  ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid orangered;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: white;
}